.places {
  padding: 51px 0 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 18px;
}

@media (max-width: 768px) {
  .places {
    padding: 32px 0 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 425px) {
  .places {
    gap: 20px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
