.popup__input {
  width: 100%;
  padding: 13px 0;
  border: none;
  border-bottom: 1px solid #BEBEBE;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  color: #000000;
  margin-top: 22px;
}

.popup__input:first-of-type {
  margin-top: 0;
}
