.header__logo {
  background-image: url("../../../images/header/__logo.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  width: 142px;
  height: 33px;
}
