.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media (max-width: 425px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1.22;
  }
}
