.profile__name {
  margin: 0;
  display: inline;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
}

@media (max-width: 1200px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.33;
  }
}

