.popup__close-button {
  position: absolute;
  padding: 0;
  right: -50px;
  top: -50px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../../images/popup/__close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.25s;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__close-button:focus {
  outline: 2px solid rgba(0, 195, 255, 0.5);
}

@media (max-width: 768px) {
  .popup__close-button {
    right: -14px;
    top: -60px;
  }
}
