.profile__add-button {
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  border: 1px solid #FFF;
  border-radius: 2px;
  background-color: black;
  background-image: url('../../../images/profile/__add-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  transition: 0.25s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .profile__add-button {
    margin: 32px 0 0;
  }
}

@media (max-width: 425px) {
  .profile__add-button {
    width: 100%;
  }
}
