.popup__save-button {
  margin-top: 48px;
  color: #FFF;
  background-color: #000;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 2px;
}
.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__save-button:focus {
  outline: 2px solid rgba(0, 195, 255, 0.5);
}
